
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1>
      | A grant you donated to, <%= @grant.title %>, has been successfully crowdfunded!
    </h1>
    <p>
      | The grant <%= @grant.title %> has been successfully crowdfunded! Since you pledged a donation to this grant, the pledged amount has been charged to your credit card. Thank you again for your donation, and stay tuned for updates from the recipient!    
    </p>
  </body>