<h2 style="text-align: center"><%= @user.first_name%> <%= @user.last_name%></h2>
<div class="profile row small-12">
  <div class="profile-section small-4" id="account">My Account</div>
  <div class="profile-section small-4" id="payment">Payment History</div>
  <div class="profile-section small-4" id="credit-card">Update Credit Card Info</div>
</div>
<div class="account-section-info">  
  <div class="profile account">Account INFO</div>
  <div class="profile payment">payment history stuff</div>
  <div class="profile credit-card">Update your credit card info here</div>
</div>