<h2 style="text-align: center"><%= @user.first_name%> <%= @user.last_name%></h2>
<div class="show-for-small-only">
  <%= render "vertical" %>
</div>

<div class="show-for-medium">
  <%= render "horizontal" %>
</div>
