<div class="medium-11 medium-centered columns">
  <h4 class="text-center">About the Berkeley Public Schools Fund</h4>
  <p class="text-justify">The Berkeley Public Schools Fund is the single organization that provides classroom grants in addition to other school and Districtwide program funding for every Berkeley public school, from pre-K to 12th grade. Our mission is to inspire and empower an extraordinary public education for every child. Find out more about us on our website.</p>
  <h4 class="text-center">About Friends and Family Grants</h4>
  <p class="text-justify">The Schools Fund Friends & Family Grants Platform is a “crowdfunding” site separate from any current Schools Fund grant-making process. Grants are funded by community donations. The purpose of the platform is to offer teachers a year-round opportunity to have classroom materials and projects funded. Grant requests on this site have been reviewed and approved by the Berkeley Public Schools Fund. Donations will be administered by the Berkeley Public Schools Fund, a 501(c)(3) organization. All donations made are tax deductible to the full extent of the law, less benefits received. Donors will receive an email receipt for tax records. Donations are anonymous.</p>
  <h4 class="text-center">Please submit any feedback or questions about how to use this site using the Contact button at the top of the page.</h4>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
