<div class="modal medium-11 medium-centered columns">
    <h4 class="text-center">FOR FRIENDS AND FAMILY</h4>
    <p class="text-justify"> 1. Sign up and create your account.</p>
    <p class="text-justify"> 2. Find the grant you are interested in by viewing the homepage, searching by teacher, school or subject, or use the direct link to a grant.</p>
    <p class="text-justify"> 3. Make a donation to the grant project you would like to support using a credit card.*</p>
    <p class="text-justify"> 4. Administrative costs of 9% are included in the total cost for the grant.</p>
    <p class="text-justify"> 5. Consider making an additional donation to the Berkeley Public Schools Fund, supporting our school volunteers program and our larger Districtwide and Program Grants.</p>
    <p class="text-justify"> 6. You will receive an email receipt for tax records. All donations made are tax deductible to the full extent of the law, less benefits received. Donations are anonymous.</p>
    <p class="text-justify"> 7. Share this project with your friends, family and social networks to increase funding sources for the grant project.</p>
    <p class="text-justify"> * Your donation is a “pledge”. Your credit card will not be charged until the project is fully pledged. The application holds an encrypted token that is sent to the credit card processing service and held until the grant is fully pledged. At that time, your credit card will be charged.</p>
    <h4 class="text-center">Please submit any feedback or questions about how to use this site using the Contact button at the top of the page.</h4>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
