<div class="footer show-for-medium">
  <div class="row">
    <div class="medium-2 small-12 columns">
      <h5>Explore</h5>
      <p>Home</p>
      <p>About Us</p>
      <p>Volunteer</p>
    </div>
    <div class="medium-2 small-12 columns">
      <h5>Account</h5>
      <p>Sign in</p>
      <p>Sign up</p>
    </div>
    <div class="medium-2 small-12 columns">
      <h5>Contact</h5>
      <p>schoolsfund@berkeley.net</p>
      <p>510-644-6244</p>
      <p>facebook</p>
    </div>
    <div class="large-5 large-offset-1 medium-4 medium-offset-2 small-12 columns">
      <p>All grants have been reviewed and approved by the Berkeley Public Schools Fund</p>
    </div>
  </div>
</div>
