<h1 class="text-center warning-color">New Donation</h1>
<hr>

<div class="grant-container show-for-medium">
  <%= render "/grants/grantspartial", grant: @grant %>
</div>
<div class="grant-container hide-for-medium">
  <%= render "/grants/grantscard", grant: @grant %>
</div>
<% if current_user and current_user.stripe_token %>
  <div class="columns small-12 medium-6 medium-offset-3">
    <%= render "returning_customer_form" %>
  </div>
<% else %>
<div class="columns small-12 medium-6 medium-offset-3">
  <%= render "new_customer_form" %>
</div>
<% end %>
<br>
