<h1 class="text-center warning-color">New Donation</h1>
<hr>

<div class="grant-container show-for-medium">
  <%= render "/grants/grantspartial", grant: @grant %>
</div>
<div class="grant-container hide-for-medium">
  <%= render "/grants/grantscard", grant: @grant %>
</div>
<div class="columns small-12 medium-6 medium-offset-3">
  <%= render "customer_form" %>
</div>
<br>