<%= link_to grant_path(grant), class: "grant-row-partial" do %>
  <div class="grant-row row align-middle">
    <div class="columns medium-6 large-4 show-for-medium">
      <img src="http://i.imgur.com/TN9KKO9.jpg" alt="" class="grant-partial-image">
    </div>
    <div class="columns medium-6 large-8 small-12">
      <h3 class="hover-orange">This is just a Test</h3>
      <p><%= grant.user.first_name %> <%= grant.user.last_name %> | <%= grant.school.name %></p>
      <h6>Here is a list of what this grant is expecting</6>
      <h4><span class="amount">$246</span> of $300 left with 26 days left</h4>
    </div>
  </div>
<% end %>
